.tool-area{
    margin-top:70px;margin-bottom: 20px;
}
.alert{
    position: absolute;
    top: 7px;
    width: 500px;
    left: 0;
    right: 0;
    z-index: 9999999;
    margin: 0 auto;
}
.modal{
    margin-top:90px
}

.sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    margin-left: 50px
}

.sortable .sortable {
    margin-left: 0px
}

.sortable li {
    width: 400px;
}

.sortable li .ui-state-default {
    margin: 5px 0px;
    padding: 5px 10px;
    user-select: none;
    line-height: 33px
}

.ui-state-highlight {
    background: #fff;
    border: 1px dashed #000;
    height: 45px;
}

.sortable li > span {
    font-size: 13px;
    font-weight: 600;
    color: #23282d;
}

.sortable li .glyphicon {
    line-height: 33px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: none;
    font-weight: normal;
    color: #555555;
}

.panel-footer {
    overflow: hidden;
}

.item-body {
    margin: 70px auto;
    width: 1024px
}

/* menu */
.menu .panel:nth-child(1), .category .panel:nth-child(1) {
    width: 300px;
    float: left;
    margin-right: 10px;
}

.menu .panel:nth-child(2), .category .panel:nth-child(2) {
    width: 700px;
    float: left;
}

.menu .sortable .well {
    margin-top: 10px;
    margin-bottom: 0;
    height: 173px;
}

/* category */
.category .sortable .well {
    margin-top: 10px;
    margin-bottom: 0;
    height: 125px;
}

/* banner */
.banner .sortable{
    margin-left: 0;
}
.banner .sortable li {
    width: 125px;
    float: left;
    margin-right: 10px;
    height: 125px;
}

.banner .sortable li img, .banner .modal-body img {
    width: 100%;
    height: 100%;
}

.banner.ui-state-highlight {
    height: 125px;
}

.banner .well {
    margin-top: 20px;
    overflow: hidden;
}

.banner input[type=file] {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    opacity: 0;
    background: none;
    cursor: inherit;
    display: block;
    position: absolute;
}

.banner .file-upload {
    position: relative;
    display: inline-block;
}

.banner .modal-body {
    overflow: hidden;
}

.banner .modal-body form {
    width: 400px;
}