<include file="Common:header"/>
<div class="table-responsive inject item-body tags">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Tag</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <input type="hidden" name="id" value="{$id|default=''}"/>
                <div class="form-group">
                    <label for="input-name" class="col-sm-2 control-label">名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-name" name="name" value="{$result['TAG_NAME']|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-description" class="col-sm-2 control-label">描述</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="input-description" name="description">{$result['TAG_DESCRIPTION']|default=''}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-seo-title" class="col-sm-2 control-label">SEO标题</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-seo-title" name="seo_title" value="{$result['SEO_TITLE']|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-seo-keyword" class="col-sm-2 control-label">SEO关键词</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="input-seo-keyword" name="seo_keyword" value="{$result['SEO_KEYWORD']|default=''}"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-seo-desc" class="col-sm-2 control-label">SEO描述</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" id="input-seo-desc" name="seo_description">{$result['SEO_DESCRIPTION']|default=''}</textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <a href="{:U('index')}">
                <button type="submit" class="btn btn-default right">返回</button>
            </a>
            <button type="submit" class="btn btn-primary right save-menu margin-right-10" data-loading-text="Loading...">保存</button>
        </div>
    </div>
</div>
<script>
    $(function () {
        //保存
        $('button.save-menu').on('click', function () {
            var $btn = $(this).button('loading');
            var action = "{$action}";
            var data = {
                'name': $('[name="name"]').val(),
                'description': $('[name="description"]').val(),
                'seo_title': $('[name="seo_title"]').val(),
                'seo_keyword': $('[name="seo_keyword"]').val(),
                'seo_description': $('[name="seo_description"]').val()
            }
            if (action == 'update') {
                data.id = $('[name="id"]').val()
            }
            $.ajax({
                'url': "{:U($action)}",
                'type': 'post',
                'data': data,
                'success': function (data) {
                    if (data.status) {
                        alertMessage('success', data.msg)
                    } else {
                        alertMessage('danger', data.msg, data.code)
                    }
                },
                'complete': function () {
                    $btn.button('reset')
                }
            })
        })
    });
</script>
<include file="Common:footer"/>