<include file="Common:header"/>
<div class="container-fluid">
    <div class="table-responsive inject item-body pages">
        <ol class="breadcrumb">
            <li><a href="{:U('index')}">栏目管理</a></li>
            <li><a href="{:U('index')}">列表页</a></li>
            <if condition="$action eq 'create'">
                <li class="active">添加栏目</li>
                <else/>
                <li class="active">{$result['CATEGORY_NAME']}</li>
            </if>
        </ol>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">栏目</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <input type="hidden" name="id" value="{$id|default=''}"/>
                    <div class="form-group">
                        <label for="input-name" class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input-name" name="name" value="{$result['CATEGORY_NAME']|default=''}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-slug" class="col-sm-2 control-label">别名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input-slug" name="slug" value="{$result['CATEGORY_SLUG']|default=''}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="parent" class="col-sm-2 control-label">上级栏目</label>
                        <div class="col-sm-10">
                            <select id="parent" class="form-control" name="parent">
                                <option value="0">一级栏目</option>
                                <foreach name="parentMap" item="v" key="k">
                                    <option value="{$v.CATEGORY_ID}" <if condition="!empty($result) && $result['CATEGORY_PARENT'] eq $v['CATEGORY_ID']">selected='selected'</if>>|-{$v.CATEGORY_NAME}</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-description" class="col-sm-2 control-label">描述</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="input-description" rows="10" name="description">{$result['CATEGORY_DESCRIPTION']|default=''}</textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">SEO标题</label>
                        <div class="col-sm-10">
                            <input type="text" name="seo_title" class="form-control" value="{$result['SEO_TITLE']|default=''}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">SEO关键词</label>
                        <div class="col-sm-10">
                            <input type="text" name="seo_keyword" class="form-control" value="{$result['SEO_KEYWORD']|default=''}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">SEO描述</label>
                        <div class="col-sm-10">
                            <textarea name="seo_description" rows="10" class="form-control">{$result['SEO_DESCRIPTION']|default=''}</textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <a href="{:U('index')}">
                    <button type="submit" class="btn btn-default right">返回</button>
                </a>
                <button type="submit" class="btn btn-primary right save-menu" data-loading-text="Loading..." style="margin-right: 10px">保存</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        //保存
        $('button.save-menu').on('click', function () {
            var $btn = $(this).button('loading');
            var action = "{$action}";
            var data = {
                'name'           : $('[name="name"]').val(),
                'slug'           : $('[name="slug"]').val(),
                'parent_id'      : $('[name="parent"]').val(),
                'description'      : $('[name="description"]').val(),
                'seo_title'      : $('[name="seo_title"]').val(),
                'seo_keyword'    : $('[name="seo_keyword"]').val(),
                'seo_description': $('[name="seo_description"]').val()

            };
            if (action == 'update') {
                data.id = $('[name="id"]').val()
            }
            $.ajax({
                'url'     : "{:U($action)}",
                'type'    : 'post',
                'data'    : data,
                'success' : function (data) {
                    if (data.status) {
                        alertSuccessMessage(data.msg);
                    } else {
                        alertErrorMessage(data.msg, data.code);
                    }
                },
                'complete': function () {
                    $btn.button('reset');
                }
            })
        })
    });
</script>
<include file="Common:footer"/>