<include file="Common:header" />
<style>
    #sortable { list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px;margin-left:50px}
    #sortable li{ margin: 5px 0px; padding: 5px 10px; width: 400px;user-select: none;line-height: 33px}
    .ui-state-highlight{
        background: #fff;
        border:1px dashed #000;
        height: 45px;
    }
    #sortable li>span{
        font-size: 13px;
        font-weight: 600;
        color: #23282d;
    }
    #sortable li .glyphicon{
        line-height: 33px;
    }
    #sortable .well{
        margin-top:10px;
        margin-bottom: 0;
        height: 173px;
    }
    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
        border: 1px solid #d3d3d3;
        background: none;
        font-weight: normal;
        color: #555555;
    }
    .modal-dialog{
        margin-top:90px;
    }
    .panel-footer{
        overflow: hidden;
    }
    .alert{
        position: absolute;
        width: 100%;
        top: 60px;
    }
</style>
<div class="table-responsive inject" style="margin: 70px auto;width:1024px">
    <div class="panel panel-default" style="width:300px;float: left; margin-right: 10px;">
        <div class="panel-heading">
            <h3 class="panel-title">添加菜单项</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputName" class="col-sm-3 control-label">菜单名</label>
                    <div class="col-sm-9">
                        <input type="text"  class="form-control" id="inputName" name="name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputUrl" class="col-sm-3 control-label">URL</label>
                    <div class="col-sm-9">
                        <input type="text"  class="form-control" id="inputUrl" name="url"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default right add">添加</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default" style="width:700px;float: left;">
        <div class="panel-heading">
            <h3 class="panel-title">菜单</h3>
        </div>
        <div class="panel-body">
            <ul id="sortable">

            </ul>
        </div>
        <div class="panel-footer">
            <button type="submit" class="btn btn-primary right save-menu" data-loading-text="Loading...">保存</button>
        </div>
    </div>
</div>
<div class="alert alert-dismissible fade out" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <p></p>
</div>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    function create_item(name,url,index,parent,depth) {

        var li = $('<li class="ui-state-default" data-index="'+index+'" data-parent="'+parent+'" data-depth="'+depth+'"></li>')
        li.css('marginLeft',depth * 30 + 'px')
        var itemName = $('<span>'+name+'</span>')

        var collapseID = 'item-index-'+index;

        var collapseButton = $('<a role="button" data-toggle="collapse" href="#'+collapseID+'" aria-expanded="false" aria-controls="'+collapseID+'"> <span class="glyphicon glyphicon-menu-down right" aria-hidden="true"></span> </a>');

        var collapse = $('<div class="collapse" id="'+collapseID+'"></div>')
        var well = $('<div class="well"></div>')

        var form = $('<form class="form-horizontal"></form>')
        var nameGroup = $('<div class="form-group"></div>')
        var nameLabel = $('<label for="input-name-edit-'+index+'" class="col-sm-3 control-label">菜单名</label>')
        var nameInputWrapper = $('<div class="col-sm-9"></div>')
        $('<input type="text"  class="form-control" id="input-name-edit-'+index+'" name="name" value="'+name+'"/>').appendTo(nameInputWrapper);
        nameLabel.appendTo(nameGroup);
        nameInputWrapper.appendTo(nameGroup);


        var urlGroup = $('<div class="form-group"></div>')
        var urlLabel = $('<label for="input-url-edit-'+index+'" class="col-sm-3 control-label">URL</label>');
        var urlInputWrapper = $('<div class="col-sm-9"></div>')
        $('<input type="text"  class="form-control" id="input-url-edit-'+index+'" name="url" value="'+url+'"/>').appendTo(urlInputWrapper);
        urlLabel.appendTo(urlGroup);
        urlInputWrapper.appendTo(urlGroup);

        var button = $('<div class="form-group"></div>');
        var buttonWrapper = $('<div class="col-sm-offset-2 col-sm-10"></div>');
        $('<button type="submit" class="btn btn-danger right delete">删除</button>').appendTo(buttonWrapper);
        buttonWrapper.appendTo(button);

        nameGroup.appendTo(form);
        urlGroup.appendTo(form);
        button.appendTo(form);

        form.appendTo(well);
        well.appendTo(collapse);

        itemName.appendTo(li);
        collapseButton.appendTo(li);
        collapse.appendTo(li);

        return li
    }

    function alertMessage(message){
        $('.alert').addClass('in alert-success').removeClass('out');
        $('.alert p').html(message);
        setTimeout(function(){
            $('.alert').removeClass('in').addClass('out');
        },5000)
    }

    function create_menu(menu,depth){
        var depth = depth == undefined ? 0 : depth;
        menu.map(function(v,k){
            var item = create_item(v.name,v.url,v.id,v.parent,depth)
            item.appendTo('#sortable')
            if(typeof v.child != 'undefined'){
                create_menu(v.child,depth + 1)
            }
        })
    }

    $(function () {
        var menu = [
            {'id':1,'name':'首页','url':'','parent':0},
            {'id':2,'name':'菜单1','url':'','child':[
                {'id':6,'name':'菜单6','url':'','parent':2,'child':[
                    {'id':7,'name':'菜单7','url':'','parent':6},
                ]}
            ]},
            {'id':3,'name':'菜单2','url':'','parent':0},
            {'id':4,'name':'菜单3','url':'','parent':0},
            {'id':5,'name':'菜单4','url':'','parent':0}
        ]
        create_menu(menu, 0)
        var sort = $("#sortable").sortable({
            revert     : true,
            containment: "document",
            placeholder: "ui-state-highlight",
            start      : function (event, ui) {
                var ownLeft = parseInt($(ui.item).css('marginLeft'));
                $('.ui-state-highlight').css('marginLeft', ownLeft);
            },
            sort       : function (event, ui) {
                if ($(ui.item).prev('.ui-sortable-handle').length > 0) {
                    var parentLeft = parseInt($(ui.item).prev('.ui-sortable-handle').css('marginLeft'));
                    var ownLeft = parseInt($(ui.item).css('marginLeft'));
                    var maxLeft = parentLeft + 30;
                    if (ui.position.left - ui.originalPosition.left > 30) {
                        var offset = ownLeft + 30 > maxLeft ? maxLeft : ownLeft + 30;
                        $('.ui-state-highlight').css('margin-left', offset + 'px')
                    } else if (ui.originalPosition.left - ui.position.left > 30) {
                        var offset = ownLeft - 30 < 0 ? 0 : ownLeft - 30;
                        $('.ui-state-highlight').css('margin-left', offset + 'px')
                    }
                }
            },
            beforeStop : function (event, ui) {
                if ($(ui.item).prev('.ui-sortable-handle').length > 0) {
                    var parentLeft = parseInt($(ui.item).prev('.ui-sortable-handle').css('marginLeft'));
                    var ownLeft = parseInt($(ui.item).css('marginLeft'));
                    var maxLeft = parentLeft + 30;
                    //console.log(ownLeft)
                    if (ui.position.left - ui.originalPosition.left > 30) {
                        var offset = ownLeft + 30 > maxLeft ? maxLeft : ownLeft + 30;
                        //console.log(offset);
                        var depth = parseInt($(ui.item).attr('data-depth'));
                        depth += 1;
                        $(ui.item).attr('data-depth',depth)
                        var parent = $(ui.item).prev("[data-depth='"+depth+"']").attr('data-parent')
                        if(parent == undefined){
                            parent = $(ui.item).prev('li').attr('data-index')
                        }
                        $(ui.item).attr('data-parent',parent);
                        $(ui.item).css('margin-left', offset + 'px')
                    } else if (ui.originalPosition.left - ui.position.left > 30) {
                        var offset = ownLeft - 30 < 0 ? 0 : ownLeft - 30;
                        $(ui.item).css('margin-left', offset + 'px')
                        var depth = parseInt($(ui.item).attr('data-depth'));
                        depth -= 1
                        $(ui.item).attr('data-depth',depth)
                        if(depth == 0){
                            parent = 0;
                        }else{
                            var parent = $(ui.item).prev("[data-depth='"+depth+"']").attr('data-parent')
                        }
                        $(ui.item).attr('data-parent',parent);
                    }
                }
            }
        });

        $('button.add').on('click', function () {
            var index = $('#sortable li').length;
            var name = $('input[name="name"]').val();
            var url =  $('input[name="url"]').val();
            var item = create_item(name,url,index )
            item.appendTo('#sortable')
            return false;
        })
        $(document).on('click','button.delete', function () {
            $(this).parents('li').remove();
            return false;
        })
        $('button.save-menu').on('click',function(){
            var $btn = $(this).button('loading')
            alertMessage('修改成功')
            $btn.button('reset')
        })
    });
</script>
<include file="Common:footer" />