<include file="Common:header" />
<button  class="btn btn-primary"  data-toggle="modal" data-target="#myModal">添加菜单</button>
<form action="{:U('batch')}" method="post" class="form-inline" style="margin-top:60px">
    <div class="data auto">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>菜单名</th>
                    <th nowrap>创建时间</th>
                    <th nowrap>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>菜单1</td>
                    <td>2018-09-03 10:10:10</td>
                    <td>
                        <a href="{:U('edit',array('id'=>1))}"><b>编辑</b></a>
                        <a href="{:U('delete',array('id'=>1))}"><b>删除</b></a>
                    </td>
                </tr>
            </tbody>
        <table>
    </div>
    <div class="page">{$page}</div>
</form>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">添加菜单</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputName" class="col-sm-3 control-label">菜单名</label>
                        <div class="col-sm-9">
                            <input type="text"  class="form-control" id="inputName" name="name"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary add" data-loading-text="Loading...">添加</button>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-dismissible fade out" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
    <p></p>
</div>
<script>
    function alertMessage(message){
        $('.alert').addClass('in alert-success').removeClass('out');
        $('.alert p').html(message);
        setTimeout(function(){
            $('.alert').removeClass('in').addClass('out');
        },5000)
    }
    $(document).ready(function(){
        $('button.add').on('click',function () {
            $('#myModal').modal('hide')
            var $btn = $(this).button('loading')
            alertMessage('修改成功')
            $btn.button('reset')
            return false;
        })
    })
</script>
<include file="Common:footer" />