<include file="Common:header" />
<div class="table-responsive inject item-body menu">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">添加菜单项</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
                <div class="form-group">
                    <label for="input-name" class="col-sm-3 control-label">名称</label>
                    <div class="col-sm-9">
                        <input type="text"  class="form-control" id="input-name" name="name"/>
                    </div>
                </div>
                <div class="form-group">
                    <label for="input-url" class="col-sm-3 control-label">URL</label>
                    <div class="col-sm-9">
                        <input type="text"  class="form-control" id="input-url" name="url"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default right add">添加</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">菜单</h3>
        </div>
        <div class="panel-body">
            <ul class="sortable"></ul>
        </div>
        <div class="panel-footer">
            <a href="{:U('index')}"><button type="submit" class="btn btn-default right">返回</button></a>
            <button type="submit" class="btn btn-primary right save-menu margin-right-10" data-loading-text="Loading...">保存</button>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    /**
     * 创建菜单项
     *
     * @param index
     * @param data
     * @param depth
     * @returns {jQuery|HTMLElement}
     */
    function create_item(index, data, depth) {
        var li = $('<li data-index="' + index + '" data-id="' + data.ITEM_ID + '" data-parent="' + data.ITEM_PARENT + '" data-depth="' + depth + '" data-order="' + data.ITEM_ORDER + '" class="ui-sortable-handle"></li>')
        li.css('marginLeft', depth * 30 + 'px');

        var div = $('<div class="ui-state-default"></div>');
        var itemName = $('<span>' + data.ITEM_NAME + '</span>');

        var collapseID = 'item-index-' + index;

        var collapseButton = $('<a role="button" data-toggle="collapse" href="#' + collapseID + '" aria-expanded="false" aria-controls="' + collapseID + '"> <span class="glyphicon glyphicon-menu-down right" aria-hidden="true"></span> </a>');

        itemName.appendTo(div);
        collapseButton.appendTo(div);


        var collapse = $('<div class="collapse" id="' + collapseID + '"></div>');
        var well = $('<div class="well"></div>');

        var form = $('<form class="form-horizontal"></form>');
        var nameGroup = $('<div class="form-group"></div>');
        var nameLabel = $('<label for="input-name-edit-' + index + '" class="col-sm-3 control-label">名称</label>');
        var nameInputWrapper = $('<div class="col-sm-9"></div>');
        $('<input type="text"  class="form-control" id="input-name-edit-' + index + '" name="name" value="' + data.ITEM_NAME + '"/>').appendTo(nameInputWrapper);
        nameLabel.appendTo(nameGroup);
        nameInputWrapper.appendTo(nameGroup);


        var urlGroup = $('<div class="form-group"></div>');
        var urlLabel = $('<label for="input-url-edit-' + index + '" class="col-sm-3 control-label">URL</label>');
        var urlInputWrapper = $('<div class="col-sm-9"></div>');
        $('<input type="text"  class="form-control" id="input-url-edit-' + index + '" name="url" value="' + data.ITEM_URL + '"/>').appendTo(urlInputWrapper);
        urlLabel.appendTo(urlGroup);
        urlInputWrapper.appendTo(urlGroup);

        var button = $('<div class="form-group"></div>');
        var buttonWrapper = $('<div class="col-sm-offset-2 col-sm-10"></div>');
        $('<button type="submit" class="btn btn-danger right delete">删除</button>').appendTo(buttonWrapper);
        buttonWrapper.appendTo(button);

        nameGroup.appendTo(form);
        urlGroup.appendTo(form);
        button.appendTo(form);

        form.appendTo(well);
        well.appendTo(collapse);

        div.appendTo(li);
        collapse.appendTo(li);

        var clone = $('<ul></ul>');
        clone.appendTo(li);

        return li
    }

    /**
     * 创建菜单
     *
     * @type {number}
     */
    var i = 0;
    function create_menu(menu, depth) {
        var depth = depth == undefined ? 0 : depth;
        menu.map(function (v, k) {
            i++;
            var item = create_item(i, v, depth);
            item.appendTo($('.sortable'));
            if (v.CHILD != '') {
                create_menu(v.CHILD, depth + 1);
            }
        })
    }

    $(function () {
        var menu = {$items};
        if(menu != null){
            create_menu(menu, 0)
        }
        var sort = $(".sortable").sortable({
            revert     : true,
            containment: "document",
            placeholder: "ui-state-highlight",
            start      : function (event, ui) {
                var ownLeft = parseInt($(ui.item).css('marginLeft'));
                var id = $(ui.item).attr('data-id');
                $('.ui-state-highlight').css('marginLeft', ownLeft);

                if (id != 0) {
                    var child = $(ui.item).parent('ul').find('[data-parent="' + id + '"]');
                    clone_item($(ui.item), child)
                }
                $(".sortable").sortable("refreshPositions");
            },
            sort       : function (event, ui) {
                if ($(ui.item).prev('.ui-sortable-handle').length > 0 || $(ui.item).parents('.child').length > 0) {
                    var parentLeft = parseInt($(ui.item).prev('.ui-sortable-handle').css('marginLeft'));
                    var ownLeft = parseInt($(ui.item).css('marginLeft'));
                    var maxLeft = parentLeft + 30;
                    if (ui.position.left - ui.originalPosition.left > 30) {
                        var offset = ownLeft + 30 > maxLeft ? maxLeft : ownLeft + 30;
                        $('.ui-state-highlight').css('margin-left', offset + 'px')
                    } else if (ui.originalPosition.left - ui.position.left > 30) {
                        var offset = ownLeft - 30 < 0 ? 0 : ownLeft - 30;
                        $('.ui-state-highlight').css('margin-left', offset + 'px')
                    }
                }
            },
            stop       : function (event, ui) {
                var root = $(ui.item).parent('ul');
                var list = root.find('li');
                //parent
                list.map(function (i, v) {
                    var depth = list.eq(i).attr('data-depth');
                    if (depth == 0) {
                        list.eq(i).attr('data-parent', 0)
                    } else {
                        depth = depth - 1;
                        var parent = list.eq(i).prevAll('[data-depth="' + depth + '"]').attr('data-id');
                        list.eq(i).attr('data-parent', parent);
                    }
                })
                //排序
                reset_order();

                //释放child
                list = $(ui.item).find('ul li');
                var after = $(ui.item);
                list.map(function (i) {
                    after.after(list.eq(i));
                    after = list.eq(i)
                })
            },
            beforeStop : function (event, ui) {
                if ($(ui.item).prev('.ui-sortable-handle').length > 0 || $(ui.item).parents('.child').length > 0) {
                    var parentLeft = parseInt($(ui.item).prev('.ui-sortable-handle').css('marginLeft'));
                    if (ui.position.left - ui.originalPosition.left > 30) {
                        calculate_depth($(ui.item), 'right');
                    } else if (ui.originalPosition.left - ui.position.left > 30) {
                        calculate_depth($(ui.item), 'left');
                    }
                }
            }
        });
        //添加菜单项
        $('button.add').on('click', function () {
            var index = $('.sortable li').length + 1;
            var name = $.trim($('input[name="name"]').val());
            if (name == '') {
                alertMessage('warning', '请输入菜单项名称！');
                return false;
            }
            var url = $.trim($('input[name="url"]').val());
            if (url == '') {
                alertMessage('warning', '请输入菜单项url！');
                return false;
            }
            var data = {
                'ITEM_ID'    : 0,
                'ITEM_NAME'  : name,
                'ITEM_PARENT': 0,
                'ITEM_URL'   : url,
                'ITEM_ORDER' : 0,
            };
            var item = create_item(index, data, 0);
            item.appendTo('.sortable');
            //排序
            reset_order();
            return false;
        });
        //删除菜单项
        $(document).on('click','button.delete', function () {
            $(this).parents('li').remove();
            reset_order();
            return false;
        });
        //保存
        $('button.save-menu').on('click',function(){
            var $btn = $(this).button('loading');
            var items = [];
            var addItems = [];
            $('.sortable li').map(function(v){
                var arr = {
                    'ITEM_ID':$('.sortable li').eq(v).attr('data-id'),
                    'ITEM_NAME':$('.sortable li').eq(v).find('[name="name"]').val(),
                    'ITEM_PARENT':$('.sortable li').eq(v).attr('data-parent'),
                    'ITEM_URL':$('.sortable li').eq(v).find('[name="url"]').val(),
                    'ITEM_ORDER':$('.sortable li').eq(v).attr('data-order'),
                }
                if (arr['ITEM_ID'] == 0) {
                    addItems.push(arr);
                } else {
                    items.push(arr);
                }
            });
            $.ajax({
                'url':"{:U('updateItem')}",
                'type':'post',
                'data':{
                    'items':items,
                    'add_items':addItems,
                    'menu_id':{$menuID}
                },
                'success':function(data){
                    if (data.status) {
                        alertMessage('success', data.msg);
                    } else {
                        alertMessage('danger', data.msg, data.code);
                    }
                },
                'complete':function(){
                    $btn.button('reset');
                }
            })
        })
    });
</script>
<include file="Common:footer" />