<include file="Common:header"/>
<div class="container-fluid">
    <div class="table-responsive inject item-body pages">
        <ol class="breadcrumb">
            <li><a href="{:U('index')}">页面管理</a></li>
            <li><a href="{:U('index')}">列表页</a></li>
            <if condition="$action eq 'create'">
                <li class="active">添加页面</li>
            <else />
                <li class="active">{$result['PAGE_NAME']}</li>
            </if>
        </ol>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">页面</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <input type="hidden" name="id" value="{$id|default=''}"/>
                    <div class="form-group">
                        <label for="input-name" class="col-sm-2 control-label">名称</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input-name" name="name" value="{$result['PAGE_NAME']|default=''}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-type" class="col-sm-2 control-label">类型</label>
                        <div class="col-sm-10">
                            <select class="form-control" id="input-type">
                                <option>控制器</option>
                                <option>视图</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="input-view" class="col-sm-2 control-label">控制器</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="input-view" name="view" value="{$result['PAGE_VIEW']|default=''}"/>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <a href="{:U('index')}">
                    <button type="submit" class="btn btn-default right">返回</button>
                </a>
                <button type="submit" class="btn btn-primary right save-menu" data-loading-text="Loading..." style="margin-right: 10px">保存</button>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">属性</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="parent" class="col-sm-4 control-label">父页面</label>
                        <div class="col-sm-8">
                            <select id="parent" class="parent form-control" name="parent">
                                <option valule="0">根页面</option>
                                <foreach name="parentMap" item="v" key="k">
                                    <option valule="{$v.PAGE_ID}">{$v.PAGE_NAME}</option>
                                </foreach>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">SEO标题</label>
                        <div class="col-sm-8">
                            <input type="text" name="seo_title" class="form-control" value="{$result['SEO_TITLE']|default=''}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label  class="col-sm-4 control-label">SEO关键词</label>
                        <div class="col-sm-8">
                            <input type="text" name="seo_keyword" class="form-control" value="{$result['SEO_KEYWORD']|default=''}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">SEO描述</label>
                        <div class="col-sm-8">
                            <textarea name="seo_description" rows="10" class="form-control">{$result['SEO_DESCRIPTION']|default=''}</textarea>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        //保存
        $('button.save-menu').on('click', function () {
            var $btn = $(this).button('loading');
            var tags = [];
            var action = "{$action}";
            $('.tags .label').map(function (i) {
                tags.push($('.tags .label').eq(i).attr('data-id'));
            });
            var data = {
                'name'          : $('[name="title"]').val(),
                'parent_id'    : $('[name="category"]').val(),
                'type'          : $('[name="order"]').val(),
                'view'        : tinyMCE.activeEditor.getContent(),
                'seo_title'      : $('[name="seo_title"]').val(),
                'seo_keyword'    : $('[name="seo_keyword"]').val(),
                'seo_description': $('[name="seo_description"]').val(),
                'published_time' : $('[name="published_time"]').val(),

            };
            if (action == 'update') {
                data.id = $('[name="id"]').val()
            } else {
                data['translate_id'] = $('[name="translate_id"]').val();
            }
            $.ajax({
                'url'     : "{:U($action)}",
                'type'    : 'post',
                'data'    : data,
                'success' : function (data) {
                    if (data.status || data.code == 103) {
                        alertMessage('success', data.msg);
                    } else {
                        alertMessage('danger', data.msg, data.code);
                    }
                },
                'complete': function () {
                    $btn.button('reset');
                }
            })
        })
    });
</script>
<include file="Common:footer"/>