<include file="Common:header" />
<div class="container-fluid">
    <ol class="breadcrumb auto">
        <li><a href="{:U('index')}">页面管理</a></li>
        <li class="active">列表页</li>
    </ol>
    <div class="text-right auto tool-area">
        <a href="{:U('add')}" class="btn btn-primary left" role="button">添加</a>
        <form class="form-inline">
            <div class="form-group">
                <label for="search-title">名称</label>
                <input type="text" name="name" class="form-control" id="search-title" placeholder="要查找的名称" value="{$whereData['name']}">
            </div>
            <button type="submit" class="btn btn-default">搜索</button>
        </form>
    </div>
    <div class="data auto">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>页面名称</th>
                    <th>创建时间</th>
                    <th>更新时间</th>
                    <th nowrap width="120">操作</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="list" item="v" key="k">
                    <tr>
                        <td>{$v.PAGE_ID}</td>
                        <td>
                            <a href="javascript:void(0)">
                                <if condition="$v['PAGE_PARENT'] neq 0">--</if>{$v.PAGE_NAME}
                            </a>
                        </td>
                        <td>{$v.CREATED_TIME}</td>
                        <td>{$v.MODIFIED_TIME}</td>
                        <td>
                            <a href="{:U('edit',array('id'=>$v['PAGE_ID']))}" class="btn btn-primary btn-sm edit" role="button"><b>修改</b></a>
                            <button class="btn btn-danger btn-sm delete" data-id="{$v['PAGE_ID']}"><b>删除</b></button>
                        </td>
                    </tr>
                </foreach>
            </tbody>
        </table>
    </div>
    <div class="page">{$pagination}</div>
</div>
<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-modal-label">删除</h4>
            </div>
            <div class="modal-body">
                是否确认删除该页面？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger delete-confirm" data-loading-text="Loading...">删除</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">取消</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //删除page
        $(document).on('click', 'button.delete', function () {
            $('#delete-modal').modal('show');
            $('.delete-confirm').attr('data-index', $(this).parents('tr').index());
            $('.delete-confirm').attr('data-id', $(this).attr('data-id'));
            return false;
        });

        //删除post确认
        $('.delete-confirm').on('click', function () {
            var $btn = $(this).button('loading');
            var _this = $(this);
            $.ajax({
                'url'     : "{:U('delete')}",
                'type'    : 'post',
                'data'    : {
                    'id': _this.attr('data-id')
                },
                'success' : function (data) {
                    if (data.status) {
                        alertMessage('success', data.msg);
                        $('#delete-modal').modal('hide');
                        $('.data tbody tr').eq(_this.attr('data-index')).remove();
                    } else {
                        alertMessage('danger', data.msg, data.code);
                    }
                },
                'complete': function () {
                    $btn.button('reset');
                }
            })
        });
    })
</script>
<include file="Common:footer" />