/* global */
body {
    background: #eff0f4;
}

table {
    background: #fff;
}

.breadcrumb {
    background: none;
}

.left {
    float: left;
    display: inline;
}

.form-group.time {
    position: relative;
}

.margin-right-10 {
    margin-right: 10px
}

.right {
    float: right;
    display: inline;
}

.auto {
    width: 98%;
    margin: 0 auto;
}

.breadcrumb {
    margin-top: 70px;
    margin-bottom: 20px;
}

.item-body .breadcrumb {
    margin-top: 5px;
}

.tool-area {
    background: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 20px 10px 0px 10px;
    border: 1px solid rgb(221, 221, 221);
}

.tool-area .form-group, .tool-area .btn {
    margin-bottom: 20px;
}

.alert {
    position: fixed;
    top: 7px;
    width: 500px;
    left: 0;
    right: 0;
    z-index: 9999999;
    margin: 0 auto;
}

.modal {
    margin-top: 90px
}

.sortable {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    margin-left: 50px
}

.sortable .sortable {
    margin-left: 0px;
}

.sortable li {
    width: 400px;
}

.sortable li .ui-state-default {
    margin: 5px 0px;
    padding: 5px 10px;
    user-select: none;
    line-height: 33px
}

.ui-state-highlight {
    background: #fff;
    border: 1px dashed #000;
    height: 45px;
}

.sortable li > span {
    font-size: 13px;
    font-weight: 600;
    color: #23282d;
}

.sortable li .glyphicon {
    line-height: 33px;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: none;
    font-weight: normal;
    color: #555555;
}

.panel-default > .panel-heading {
    background-color: #424F63;
    border-color: #424F63;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.panel-footer {
    overflow: hidden;
    background-color: #424f63;
    border-color: #424f63;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.item-body {
    margin: 70px auto;
}

.control-label {
    padding-left: 0;
    padding-right: 0;
}

/* header */
.header {
    width: 100%;
    height: 56px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    border-bottom: 1px solid #eff0f4;
}

.header .menu > a {
    border-right: 1px solid #e7e7e7;
    padding: 13px 10px;
}

.header .menu .glyphicon-menu-hamburger {
    font-size: 25px;
}

.header .user {
    height: 100%;
}

.header .user > a {
    height: 100%;
    width: 100px;
    padding: 16px 12px;
    font-size: 14px;
    display: inline-block;
    font-weight: 400;
}

.header .user > a span {
    vertical-align: middle;
}

.header .user .dropdown-menu {
    right: 0;
    left: auto;
}

.page {
    text-align: center;
}

/* nav */
body > .nav {
    height: 100%;
    position: fixed;
    top: 56px;
    width: 200px;
}

body > .nav {
    position: fixed;
    top: 56px;
    left: 0;
    height: 100%;
    width: 240px;
    padding: 0;
    background: #424f63;
    overflow: hidden;
    list-style: none;
    transition: width 2s;
    -moz-transition: width 2s; /* Firefox 4 */
    -webkit-transition: width 2s; /* Safari 和 Chrome */
    -o-transition: width 2s; /* Opera */
}

body > .nav li {
    width: 240px;
}

body > .nav.out {
    width: 0px;
}

body > .nav a {
    display: block;
    color: #fff;
    padding: 12px 20px;
    text-underline: none;
}

body > .nav > li > a:focus, .nav > li > a:hover {
    text-decoration: none;
    background-color: #353f4f;
    color: #65cea7;
}

body > .nav > li.active {
    background-color: #353f4f;
}

body > .nav > li.active > a {

    color: #65cea7;
}

body > .nav > li .sub-nav {
    list-style: none;
    padding: 0;
    display: none;
}

body > .nav > li.active .sub-nav {
    display: block;
}

body > .nav > li .sub-nav a {
    padding-left: 50px;
}

body > .nav > li .sub-nav a:focus, body > .nav > li .sub-nav a:hover {
    text-decoration: none;
    background: #2a323f;
    color: #65cea7;
}

body > .nav > li .sub-nav li.active a {
    background: #2a323f;
    color: #65cea7;
}

/* container */
body > .container-fluid {
    margin: 0 0 0 240px;
    transition: margin-left 2s;
    -moz-transition: margin-left 2s; /* Firefox 4 */
    -webkit-transition: margin-left 2s; /* Safari 和 Chrome */
    -o-transition: margin-left 2s; /* Opera */
}

body > .container-fluid.full {
    margin-left: 0px;
}

/* panel */
.panel {
    background: none;
    border: none;
    box-shadow: none;
}

.panel .panel-body {
    background-color: #fff;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.panel .panel-body:nth-last-child(2) {
    border-radius: initial;
}

/* menu */
.menu .panel:nth-child(2) {
    width: 30%;
    float: left;
    padding: 0px 15px 0px 0px;
}

.menu .panel:nth-child(3) {
    width: 70%;
    float: left;
}

.menu .sortable .well {
    margin-top: 10px;
    margin-bottom: 0;
    height: 173px;
}

/* category */
.category .panel:nth-child(2) {
    width: 41%;
    float: left;
    padding: 0px 15px 0px 0px;
}

.category .panel:nth-child(3) {
    width: 59%;
    float: left;
}

.category .sortable .well {
    margin-top: 10px;
    margin-bottom: 0;
    height: 542px;
}

.category .sortable li {
    width: 410px;
}

/* banner */
.banner .sortable {
    margin-left: 0;
}

.banner .sortable li {
    width: 125px;
    float: left;
    margin-right: 10px;
    height: 125px;
}

.banner .sortable li img, .banner .modal-body img {
    width: 100%;
    height: 100%;
}

.banner.ui-state-highlight {
    height: 125px;
}

.banner .well {
    margin-top: 20px;
    overflow: hidden;
}

.banner input[type=file] {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    opacity: 0;
    background: none;
    cursor: inherit;
    display: block;
    position: absolute;
}

.banner .file-upload {
    position: relative;
    display: inline-block;
}

.banner .modal-body {
    overflow: hidden;
}

.banner .modal-body form {
    width: 400px;
}

.banner .detail-img {
    width: 135px;
    height: 135px;
    float: left;
    margin-right: 10px;
}

/* posts */

.posts .panel:nth-child(2) {
    width: 70%;
    float: left;
    padding: 0px 15px 0px 0px;
}

.posts .panel:nth-child(3) {
    width: 30%;
    float: left;
}

.posts .panel:nth-child(4) {
    width: 30%;
    float: left;
}

.posts .panel:nth-child(5) {
    width: 30%;
    float: left;
}

.posts .publish-time-text {
    padding-top: 7px;
}

.posts select.month {
    width: 90px;
    display: inline-block;
    margin-right: 5px;
    font-size: 12px;
}

.posts input.day {
    width: 45px;
    display: inline-block;
    font-size: 12px;
}

.posts input.year {
    width: 60px;
    display: inline-block;
    font-size: 12px;
}

.posts input.hour {
    width: 45px;
    display: inline-block;
    font-size: 12px;
}

.posts input.minute {
    width: 45px;
    display: inline-block;
    font-size: 12px;
}

.posts .publish-time {
    margin: 35px 10px 0 10px;
    overflow: hidden;
    display: none;
}

.posts .publish-time .btn {
    margin-top: 10px;
    margin-left: 10px;
}

.posts .tags {
    margin-top: 10px
}

.posts .tags .label {
    margin-right: 10px;
    display: inline-block;
    user-select: none;
}

.posts .tags .label span {
    margin-right: 10px;
    cursor: pointer;

}

.posts .translate a {
    margin-left: 10px;
}

.posts .add-tag {
    margin-top: 10px;
}

.posts [name='tag-name'] {
    display: inline-block;
    margin-right: 10px;
}

/* page */
