<include file="Common:header" />
<div class="container-fluid">
    <ol class="breadcrumb auto">
        <li><a href="{:U('index')}">banner管理</a></li>
        <li class="active">列表页</li>
    </ol>
    <div class="text-right auto tool-area">
        <form class="form-inline add">
            <div class="form-group">
                <label for="add-name">名称</label>
                <input type="text" class="form-control" id="add-name" name="name" placeholder="" maxlength="10">
            </div>
            <button class="btn btn-primary add">添加</button>
        </form>
    </div>
    <div class="data auto">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>名称</th>
                    <th nowrap width="170">操作</th>
                </tr>
            </thead>
            <tbody>
                <foreach name="list" item="v" key="k">
                    <tr>
                        <td>{$v.BANNER_ID}</td>
                        <td>{$v.BANNER_NAME}</td>
                        <td>
                            <a href="{:U('showItem', array('id' => $v['BANNER_ID']))}" class="btn btn-sm btn-default" role="button"><b>查看</b></a>
                            <button class="btn btn-primary btn-sm edit" data-id="{$v['BANNER_ID']}"><b>修改</b></button>
                            <button class="btn btn-danger btn-sm delete" data-id="{$v['BANNER_ID']}"><b>删除</b></button>
                        </td>
                    </tr>
                </foreach>
            </tbody>
        </table>
    </div>
    <div class="page">{$pagination}</div>
</div>
<!-- Modal -->
<div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="delete-modal-label">删除</h4>
            </div>
            <div class="modal-body">
                是否确认删除该banner？
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger delete-confirm" data-loading-text="Loading...">删除</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">取消</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="edit-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="edit-modal-label">修改</h4>
            </div>
            <div class="modal-body">
                <form class="form-inline edit">
                    <div class="form-group">
                        <label for="edit-name">名称</label>
                        <input type="text" class="form-control" id="edit-name" name="name" placeholder="" value="" maxlength="10">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary edit-confirm" data-loading-text="Loading...">修改</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">取消</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        //添加菜单
        $('button.add').on('click', function () {
            var name = $.trim($('form.add').find('[name="name"]').val());
            if (name == '') {
                alertMessage('warning', '请输入名称！');
                return false;
            }
            var $btn = $(this).button('loading');
            $.ajax({
                'url'     : "{:U('addBanner')}",
                'type'    : 'post',
                'data'    : {
                    'name': name
                },
                'success' : function (data) {
                    if (data.status) {
                        var url = data.url;
                        var tr = $('<tr></tr>');
                        var td = $('<td>' + data.id + '</td><td>' + name + '</td><td><a href="' + url + '"><button class="btn btn-sm btn-default"><b>查看</b></button></a>  <button class="btn btn-sm btn-primary edit" data-id="' + data.id + '"><b>修改</b></button> <button class="btn btn-sm btn-danger delete" data-id="' + data.id + '"><b>删除</b></button></td>');
                        td.appendTo(tr);
                        tr.prependTo($('tbody'));
                        alertSuccessMessage(data.msg);
                    } else {
                        alertErrorMessage(data.msg, data.code);
                    }
                },
                'complete': function () {
                    $btn.button('reset');
                }
            });
            return false;
        });

        //修改菜单
        $(document).on('click', 'button.edit', function () {
            $('#edit-modal').modal('show');
            var name = $(this).parents('tr').find('td').eq(1).html();
            $('form.edit').find('[name="name"]').val(name);
            $('.edit-confirm').attr('data-index', $(this).parents('tr').index());
            $('.edit-confirm').attr('data-id', $(this).attr('data-id'));
            return false;
        });

        //修改菜单提交
        $('.edit-confirm').on('click', function () {
            var $btn = $(this).button('loading');
            var name = $.trim($('form.edit').find('[name="name"]').val());
            if (name == '') {
                alertMessage('warning', '请输入名称！');
                return false;
            }
            var _this = $(this);
            $.ajax({
                'url'     : "{:U('editBanner')}",
                'type'    : 'post',
                'data'    : {
                    'id'  : _this.attr('data-id'),
                    'name': name
                },
                'success' : function (data) {
                    if (data.status) {
                        alertSuccessMessage(data.msg);
                        $('#edit-modal').modal('hide');
                        $('.data tbody tr').eq(_this.attr('data-index')).find('td').eq(1).html(name);
                    } else {
                        alertErrorMessage(data.msg, data.code);
                    }
                },
                'complete': function () {
                    $btn.button('reset');
                }
            })
        });

        //删除菜单
        $(document).on('click', 'button.delete', function () {
            $('#delete-modal').modal('show');
            $('.delete-confirm').attr('data-index', $(this).parents('tr').index());
            $('.delete-confirm').attr('data-id', $(this).attr('data-id'));
            return false;
        });

        //删除菜单确认
        $('.delete-confirm').on('click', function () {
            var $btn = $(this).button('loading');
            var _this = $(this);
            $.ajax({
                'url'     : "{:U('deleteBanner')}",
                'type'    : 'post',
                'data'    : {
                    'id': _this.attr('data-id')
                },
                'success' : function (data) {
                    if (data.status) {
                        alertSuccessMessage(data.msg);
                        $('#delete-modal').modal('hide');
                        $('.data tbody tr').eq(_this.attr('data-index')).remove();
                    } else {
                        alertErrorMessage(data.msg, data.code);
                    }
                },
                'complete': function () {
                    $btn.button('reset');
                }
            })
        });
    })
</script>
<include file="Common:footer" />