<include file="Common:header"/>
<div class="container-fluid">
    <div class="table-responsive inject item-body banner">
        <ol class="breadcrumb">
            <li><a href="{:U('index')}">banner管理</a></li>
            <li><a href="{:U('index')}">列表页</a></li>
            <li class="active">{$bannerName}</li>
        </ol>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Banner</h3>
            </div>
            <div class="panel-body">
                <if condition="authcheck('Cms/Banner/uploadImage')">
                    <div class="file-upload">
                        <form method="post" id="file" action="" enctype="multipart/form-data">
                            <input name="input-image" type="file" accept="image/*">
                            <button class="btn btn-primary">点击上传</button>
                        </form>
                    </div>
                </if>
                <div class="well">
                    <ul class="sortable">
                    </ul>
                </div>

            </div>
            <div class="panel-footer">
                <a href="{:U('index')}">
                    <button type="submit" class="btn btn-default right">返回</button>
                </a>
                <if condition="authcheck('Cms/Banner/updateItem')">
                    <button type="submit" class="btn btn-primary right save-menu" data-loading-text="Loading..." style="margin-right: 10px">保存</button>
                </if>
            </div>
        </div>
    </div>
</div>
<div class="modal fade banner" id="img-modal" tabindex="-1" role="dialog" aria-labelledby="img-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="img-modal-label">查看详情</h4>
            </div>
            <div class="modal-body">
                <div class="detail-img">
                    <img class="img-thumbnail"/>
                </div>
                <form class="left">
                    <div class="form-group">
                        <label for="edit-url">URL</label>
                        <input type="text" class="form-control" id="edit-url" name="url" placeholder="" value="">
                    </div>
                    <div class="form-group">
                        <label for="edit-title">小标题</label>
                        <input type="text" class="form-control" id="edit-title" name="title" placeholder="" value="" maxlength="15">
                    </div>
                    <div class="form-group">
                        <label for="edit-status">状态</label>
                        <select class="form-control" name="status" id="edit-status">
                            <foreach name="statusMap" item="v" key="k">
                                <option value="{$k}">{$v}</option>
                            </foreach>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary edit" data-loading-text="Loading...">修改</button>
                <button type="button" class="btn btn-danger delete" data-loading-text="Loading...">删除</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" aria-label="Close">关闭</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    /**
     * 创建banner项
     *
     * @param index
     * @param data
     * @returns {jQuery|HTMLElement}
     */
    function create_item(index, data) {
        var li = $('<li data-index="' + index + '" data-id="' + data.ITEM_ID + '" data-url="' + data.ITEM_URL + '" data-status="' + data.ITEM_STATUS + '" data-title="' + data.ITEM_TITLE + '" class="ui-sortable-handle"></li>');
        var img = $('<img src="' + data.ITEM_IMG + '" class="img-thumbnail"/>');
        var statusText = data.ITEM_STATUS == 0 ? '下架' : '上架';
        var status = $('<span class="status">' + statusText + '</span>');
        img.appendTo(li);
        status.appendTo(li);
        return li;
    }

    /**
     * 创建banner
     *
     * @param banner
     */
    function create_banner(banner) {
        banner.map(function (v, i) {
            var item = create_item(i, v);
            item.appendTo($('.sortable'));
        })
    }

    $(function () {
        var banner = {$items};
        if (banner != null) {
            create_banner(banner);
        }
        var sort = $(".sortable").sortable({
            revert     : true,
            containment: "document",
            placeholder: "ui-state-highlight",
        });
        $("#sortable").disableSelection();

        //添加菜单项
        $('[name="input-image"]').on('change', function () {
            var formData = new FormData();
            formData.append('file', $(this)[0].files[0]);
            formData.append('banner_id', '{$bannerID}');
            formData.append('order', $('.sortable li').length);
            var _this = $(this);
            $.ajax({
                url        : '{:U("uploadImage")}',
                type       : 'POST',
                data       : formData,
                async      : false,
                cache      : false,
                contentType: false, //不设置内容类型
                processData: false, //不处理数据
                success    : function (data) {
                    if (data.status) {
                        alertSuccessMessage(data.msg);
                        var index = $('.sortable li').length + 1;
                        data = {
                            'ITEM_ID'    : data.id,
                            'ITEM_IMG'   : data.img,
                            'ITEM_TITLE' : '',
                            'ITEM_URL'   : '',
                            'ITEM_STATUS': 1
                        };
                        var item = create_item(index, data);
                        item.appendTo('.sortable');
                    } else {
                        alertErrorMessage(data.msg, data.code);
                    }
                },
                'complete' : function () {
                    _this.val('');
                }
            })
        });

        //查看详情
        $(document).on('click', '.sortable li', function () {
            $('#img-modal').modal('show');
            $('#img-modal .edit').attr('data-index', $(this).index());
            $('#img-modal .delete').attr('data-index', $(this).index());
            $('#img-modal img').attr('src', $(this).find('img').attr('src'));
            $('#img-modal [name="url"]').val($(this).attr('data-url'));
            $('#img-modal [name="title"]').val($(this).attr('data-title'));
            $('#img-modal [name="status"]').val($(this).attr('data-status'));
        });

        //删除菜单项
        $(document).on('click', 'button.delete', function () {
            var index = $(this).attr('data-index');
            $('.sortable li').eq(index).remove();
            $('#img-modal').modal('hide');
            return false;
        });
        //修改
        $(document).on('click', 'button.edit', function () {
            var url = $.trim($('#img-modal [name="url"]').val());
            var title = $.trim($('#img-modal [name="title"]').val());
            var status = $('#img-modal [name="status"]').val();
            var index = $(this).attr('data-index');
            $('.sortable li').eq(index).attr('data-url', url);
            $('.sortable li').eq(index).attr('data-title', title);
            $('.sortable li').eq(index).attr('data-status', status);
            var statusText = status == 0 ? '下架' : '上架';
            $('.sortable li').eq(index).find('span.status').html(statusText);
            $('#img-modal').modal('hide');
            return false;
        });

        //保存
        $('button.save-menu').on('click', function () {
            var $btn = $(this).button('loading');
            var items = [];
            $('.sortable li').map(function (v) {
                var arr = {
                    'ITEM_ID'    : $('.sortable li').eq(v).attr('data-id'),
                    'ITEM_IMG'   : $('.sortable li').eq(v).find('img').attr('src'),
                    'ITEM_URL'   : $('.sortable li').eq(v).attr('data-url'),
                    'ITEM_TITLE' : $('.sortable li').eq(v).attr('data-title'),
                    'ITEM_STATUS': $('.sortable li').eq(v).attr('data-status'),
                    'ITEM_ORDER' : v
                };
                items.push(arr);
            });
            $.ajax({
                'url'     : "{:U('updateItem')}",
                'type'    : 'post',
                'data'    : {
                    'items'    : items,
                    'banner_id': {$bannerID}
                },
                'success' : function (data) {
                    if (data.status) {
                        alertSuccessMessage(data.msg);
                    } else {
                        alertErrorMessage(data.msg, data.code);
                    }
                },
                'complete': function () {
                    $btn.button('reset');
                }
            });
        })
    });
</script>
<include file="Common:footer"/>