@for $i from 1 through 12 {
    .col-#{$i} {
        width: 100% * $i / 12;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        display: inline-block;
    }
}

.row{
    position: relative;
    margin-left: 0;
    margin-right: 0;
    height: auto;
    zoom: 1;
    display: block;
}