@for $i from 1 through 12 {
    .col-#{$i} {
        width: 100% * $i / 12;
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        display: inline-block;
    }
}