* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: #EEEEEB;
    font-family: "Helvetica Neue", Helvetica, Arial, STHeiti-Light, STHeiti-Medium, "Microsoft YaHei", "Microsoft JhengHei", STHeiti, MingLiu;
}

.content-container {
    margin-left: 240px;
    padding: 10px;
}

@each $i in 5, 10, 15 {
    .margin-top-#{$i} {
        margin-top: #{$i}px;
    }
    .margin-left-#{$i} {
        margin-left: #{$i}px;
    }
    .margin-right-#{$i} {
        margin-right: #{$i}px;
    }
    .margin-bottom-#{$i} {
        margin-bottom: #{$i}px;
    }
}

@each $i in left, right, center {
    .text-#{$i} {
        text-align: #{$i};
    }
}

.layout-header {
    background: #001529;
    padding: 0 50px;
    height: 64px;
    line-height: 64px;
}

.layout-footer {
    background: #f0f2f5;
    padding: 24px 50px;
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
}

.layout-content {
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    -ms-flex: auto;
    flex: auto;
}