<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <div id="app">
        <!--vue-ssr-outlet-->
    </div>

    <script src="https://cdn.bootcss.com/react/16.4.0/umd/react.development.js"></script>
    <script src="https://cdn.bootcss.com/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src="https://cdn.bootcss.com/react-router-dom/4.3.0-rc.3/react-router-dom.min.js"></script>
    <script src="https://cdn.bootcss.com/react-redux/5.0.7/react-redux.min.js"></script>
</body>
</html>