<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <section>

    </section>
    <script src="https://cdn.bootcss.com/superagent/3.8.3/superagent.min.js"></script>
    <script src="https://cdn.bootcss.com/babel-polyfill/7.0.0-alpha.9/polyfill.min.js"></script>
    <script src="https://cdn.bootcss.com/react/16.4.0/umd/react.development.js"></script>
    <script src="https://cdn.bootcss.com/react-dom/16.4.0/umd/react-dom.development.js"></script>
    <script src="https://cdn.bootcss.com/react-router-dom/4.3.0-rc.3/react-router-dom.min.js"></script>
    <script src="https://cdn.bootcss.com/react-redux/5.0.7/react-redux.min.js"></script>
    <script src="//cdn.bootcss.com/history/4.6.1/history.min.js"></script>
    <script src="https://cdn.bootcss.com/socket.io/2.0.4/socket.io.js"></script>
</body>
</html>