<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="__PUBLIC__/css/cms.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
</head>
<body>
    <div class="header">
        <div class="nav" style="margin:0 auto;">
            <div class="left" style="margin:10px 0 0 10px;">
                <div class="btn-group">
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{:U('Member/setpwd')}">修改密码</a></li>
                        <li><a href="{:U('Index/logout')}">退出登录</a></li>
                    </ul>
                </div>
            </div>
            <div style="height:36px;color:#fff;font-size:16px;font-weight:500;width:70px;position:relative;top:0px;left:320px;">
                <span style="position:absolute;top:15px;left:0;">{$Think.session.username}</span>
            </div>
        </div>
    </div>
