<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title></title>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="__PUBLIC__/css/cms/style.min.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
</head>
<body>
    <!-- 警告框 -->
    <div class="alert alert-dismissible fade out" role="alert">
        <button type="button" class="close"><span aria-hidden="true">×</span></button>
        <p></p>
    </div>
    <div class="header">
        <div class="left menu">
            <a class="btn" role="button">
                <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
            </a>
            <span>文章发布后台</span>
        </div>
        <div class="right">
            <ul>
                <li>
                    <a class="btn language" role="button" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                        <span>{$languageMap[$currentLanguage]}</span>
                    </a>
                    <ul class="dropdown-menu language-list">
                        <foreach name="languageMap" item="v" key="k">
                            <li><a href="" data-language="{$k}">{$v}</a></li>
                        </foreach>
                    </ul>
                </li>
                <li>
                    <a class="btn user" role="button" data-toggle="dropdown">
                        <span>{$Think.session.username}</span>
                        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <!--<li><a href="{:U('Home/Member/setpwd')}">修改密码</a></li>-->
                        <li><a href="{:U('Home/Index/logout')}">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <ul class="nav">
        <foreach name="leftMenu" item="v" key="k">
            <if condition="!empty($v['child'])">
                <li>
                    <a href="javascript:void(0)">{$v.title}<span class="glyphicon glyphicon-plus right" aria-hidden="true"></span></a>
                    <ul class="sub-nav">
                        <foreach name="v.child" item="vv">
                            <li>
                                <a href="{:U($vv['controller'])}">{$vv.title}</a>
                            </li>
                        </foreach>
                    </ul>
                </li>
            <else/>
                <li>
                    <a href="{:U($v['controller'])}">{$v.title}</a>
                </li>
            </if>

        </foreach>
    </ul>
