{
    "presets": ["env"],
    "plugins": [
        'syntax-dynamic-import',
        'transform-react-jsx',
        'react-hot-loader/babel',
        ["import-inspector", {
            "serverSideRequirePath": true,
            "webpackRequireWeakId": true
        }],
        "react-loadable/babel"
    ]
}